/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#login {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#login input[type="text"], #login input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background-color: #3e8e41;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

#errorUser , #errorPwd {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

.swal2-popup {
    font-family: Arial, sans-serif;
}

.swal2-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Pantalla grande (Desktop) */
@media only screen and (min-width: 1200px) {
    /* Ajustes para pantalla grande */
    form#login {
      max-width: 500px;
      margin: 40px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    input[type="text"], input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
}
  
/* Pantalla mediana (Tablet) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    /* Ajustes para pantalla mediana */
    form#login {
      max-width: 400px;
      margin: 30px auto;
      padding: 15px;
    }
    label {
      margin-bottom: 5px;
    }
    input[type="text"], input[type="password"] {
      margin-bottom: 15px;
    }
}
  
/* Pantalla pequeña (Móvil) */
@media only screen and (max-width: 767px) {
    /* Ajustes para pantalla pequeña */
    form#login {
      max-width: 300px;
      margin: 20px auto;
      padding: 10px;
    }
    label {
      margin-bottom: 2px;
    }
    input[type="text"], input[type="password"] {
      margin-bottom: 10px;
    }
    input[type="submit"] {
      padding: 8px;
      font-size: 14px;
    }
}